* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
}
.box_styling {
  padding: 10px;
  margin: 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
}
.shadow_effect {
    box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.24);
}
.cols{
    flex-wrap: wrap;
}

/* Header */

header {
    padding: 10px;
  color: rgb(39, 35, 35);
  height: 60px;
  display: flex;
  flex: space-between;
  align-items: center; /*vertical alignment  */
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* Navigation */

header nav {
  /* flex-direction: row; */
  justify-content: flex-end;
}

/* Main */

main {
  padding: 30px;
  background-image: linear-gradient(rgb(169, 169, 169), rgb(255, 255, 255));
}

/* Professional Details */
.professional_details__box {
  flex: 1;
  margin: 30px;
  width: 25%;
}
.professional_details__box h2 {
    padding: 10px;
  text-align: center;
}
.professional_details__box img {
    width: 100%;
    border-radius: 5px;
}
.professional_details__box ul {
  /*use selector class to bold every ODD */
  
  text-align: left;
  list-style: none;
}
.professional_details__box li:nth-child(odd) {
    padding-top: 10px;
    font-weight: bold
}

/* About Me */

/* My Work */

/* Contact */

/* Footer */
footer {
  text-align: center;
}
/* Responsive */
