
/* Sections Container */
.section{
        display:flex;
        flex-direction: column;
        
    }
/* Modify section items */
section div{
    
    flex-basis: 2%;
    padding: 5px;
    margin-bottom: 20px;
     
}
/* ABOUT ME */

/* MY WORK */
article {
    /* border:1px solid black; */
display: flex;
flex-flow: row wrap;
}

figure{
    justify-content: center;
    align-items: center;
    width: 200px;
}
figure  h3,h4{
    text-align: center;
}
figure a{
    text-decoration: none;
}
figure img{
display:block;

    width: 100%;
}
article item1{
flex:1
}
article item2{
    flex:1
}
article item3{
    flex:1
}
article item4{
    flex:1
}
/* CONTACT */
.contact__container{
   
}
