
/* Sections Container */
.section{
        display:flex;
        flex-direction: column;
        
    }
/* Modify section items */
section div{
    
    flex-basis: 2%;
    padding: 5px;
    margin-bottom: 20px;
     
}
/* ABOUT ME */

/* MY WORK */
article {
display: flex;
flex-flow: row wrap;
}

figure{
    /* justify-content: center;
    align-items: center;
    width: 20%; */
}
figure  h3,h4{
    text-align: center;
}
figure a{
    text-decoration: none;
}
figure img{
/* display:block; */

    width: 100%;
}

#showcase{
    border: 1px solid #000000;
    display: flex;
    /* flex:wrap-reverse; */
}
 #showcase figure:nth-of-type(1) {flex-grow: 4;}
/*#showcase figure:nth-of-type(2) {flex-grow: 1;}
#showcase figure:nth-of-type(3) {flex-grow: 1;}
#showcase figure:nth-of-type(4) {flex-grow: 2;} */